<div class="container">
  <center><h1>Welcome to the Home Page</h1>
    <h3>
      <p>
        <%= link_to 'Delivery Boys', new_delivery_boys_session_path %>
      </p>
    </h3>
    <h3>
      <p>
        <%= link_to 'Customer', customer_session_path%>  
      </p>
    </h3>
    <h3>
      <p>
        <%= link_to 'seller', seller_session_path%>  
      </p>
    </h3>
  </center>
</div>