.container
{
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
.container-fluid
{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.btn
{
  width: 100%;
}
body
{
  background-color: lightgrey;
}
.mt-10 {
  margin-top: 150px;
}
.Empty
{
  padding-top: 250px;
  padding-left: 30px;
}
