<div class="container bg-light" >

  <center><h1>Enter Product Details</h1></center>

  <%= form_with model: @product, url: seller_products_path, local: true do |form|%>
    <%= render partial: 'form', locals: {form: form} %>
    <div> 
      <p><%= form.submit "Add Product" , class: "btn btn-success mb-3"  %></p>
    </div>
  <%end%>

  <%= link_to 'back', seller_products_path%>
</div>